<%= render partial: "shared/nav" %>
<div class="row">
  <p class='col-12'>Discount ID: <%= @discount.id %></p>
</div>
<p>Discount ID: <%= @discount.id %></p>
<p>Percentage Discount: <%= @discount.percentage_discount %></p>
<p>Quantity Threshold: <%= @discount.quantity_threshold %></p>
